#define COMBO_TERM_FAST 24
#define COMBO_TERM_SLOW 40

#define COMBO_IDLE_FAST 120
#define COMBO_IDLE_SLOW 50

/* Horizontal combos - left hand */
ZMK_COMBO(esc_l,        &kp ESC,               LT3 LT1,     APT NAV NROW          , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(capslock_l,   &kp CAPSLOCK,          LT3 LT2 LT1, APT                   , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(wq,           &wq,                   LT3 LT2 LT1, APT                   , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(qu,           &qu,                   LT2 LT1,     APT                   , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(v,            &kp V,                 LT3 LT2,     APT                   , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

// Combos overlapping HRMs are set up as hold-taps themselves to allow for instantaneous
// chording of mods.
ZMK_COMBO(bksp_l,       &hl LA(LC(LGUI)) BKSP, LM3 LM2 LM1, APT NAV               , COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(lpar_morph,   &lpar_morph,           LM3 LM2,             NROW          , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(shift_l,      &sk LSHIFT,          LM2 LM1,     APT NAV NROW          , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(tab_l,        &hl LS(LALT) TAB,      LM3 LM1,     APT NAV NROW          , COMBO_TERM_FAST, COMBO_IDLE_SLOW)

ZMK_COMBO(q,            &kp Q,                 LB3 LB2,     APT                   , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(z,            &kp Z,                 LB2 LB1,     APT                   , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(enter,        &kp ENTER,             LB2 LB1,     APT                   , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(undo,         &kp LG(Z),             LB2 LB1,         NAV               , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(redo,         &kp LS(LG(Z)),         LB3 LB1,         NAV               , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

/* Vertical combos - left hand */
ZMK_COMBO(hash,         &kp HASH,              LT3 LM3,     APT     NROW          , COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(dllr,         &kp DLLR,              LT2 LM2,     APT     NROW          , COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(percent,      &kp PERCENT,           LT1 LM1,     APT     NROW          , COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(at,           &kp AT,                LT0 LM0,     APT     NROW          , COMBO_TERM_SLOW, COMBO_IDLE_FAST)

/* Horizontal combos - right hand */
ZMK_COMBO(equal,        &kp EQUAL,             RT3 RT2,     APT     NROW          , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(minus_r,      &kp MINUS,             RT2 RT1,     APT     NROW          , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(capslock_r,   &kp CAPSLOCK,          RT3 RT2 RT1, APT                   , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(enter_r,      &hr RC(RGUI) ENTER,    RM3 RM1,     APT NAV NROW          , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(apos,         &hr RC(RALT) APOS,     RM3 RM2,     APT                   , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(minus,        &hr RC(RALT) MINUS,    RM3 RM2,         NAV               , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rpar_morph,   &rpar_morph,           RM3 RM2,             NROW          , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bksp_r,       &hr RC(RA(RGUI)) BKSP, RM3 RM2 RM1, APT NAV NROW          , COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(shift_r,      &sk RSHIFT,          RM2 RM1,     APT NAV NROW FUN       , COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(excl,         &kp EXCL,              RB3 RB2,     APT                   , COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(fslash,       &kp SLASH,             RB2 RB1,     APT NAV NROW          , COMBO_TERM_SLOW, COMBO_IDLE_FAST)

/* Vertical combos - right hand */
ZMK_COMBO(star,         &kp STAR,              RT3 RM3,     APT     NROW          , COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(amps,         &kp AMPS,              RT2 RM2,     APT     NROW          , COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(caret,        &kp CARET,             RT1 RM1,     APT     NROW          , COMBO_TERM_SLOW, COMBO_IDLE_FAST)
