#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <zmk-helpers/helper.h>

#define APT 0
#define NUM 1
#define NAV 2
#define SYM 3
#define FUN 4

#define XXX &none
#define ___ &trans

#define QUICK_TAP_MS 100

&caps_word {
    continue-list = <UNDERSCORE MINUS BSPC LSHFT RSHFT>;
};

//  _______________________  _______________________
// |  0  |  1  |  2  |  3  \/   4 |   5 |   6 |   7 |
//       \  8  |  9  | 10  /\  11 |  12 |  13 /
//             \ 14  | 15 /  \ 16 |  17 /
//              ----------    ----------

#define KEYS_L 0 1 2 3 8 9 10
#define KEYS_R 4 5 6 7 11 12 13
#define THUMBS 14 15 16 17

/* Homerow mods */

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS)                                 \
  ZMK_HOLD_TAP(NAME, bindings = <HOLD>, <TAP>; flavor = "balanced";            \
               tapping-term-ms = <150>; quick-tap-ms = <QUICK_TAP_MS>;         \
               hold-trigger-key-positions = <TRIGGER_POS>;)

MAKE_HRM(hl, &kp, &kp, KEYS_R THUMBS)
MAKE_HRM(hr, &kp, &kp, KEYS_L THUMBS)

/* Layer tap */
ZMK_HOLD_TAP(my_lt,
    bindings = <&mo>, <&kp>;
    flavor = "tap-preferred";
    tapping-term-ms = <160>;
    quick-tap-ms = <QUICK_TAP_MS>;
)

/* Mod morphs */

#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2)                            \
  ZMK_MOD_MORPH(NAME, mods = <(MOD_L##MOD | MOD_R##MOD)>;                      \
                bindings = <BINDING1>, <BINDING2>;)

SIMPLE_MORPH(dotcol, SFT, &kp DOT, &kp COLON)
SIMPLE_MORPH(comsem, SFT, &kp COMMA, &kp SEMI)

/* Macros */

ZMK_MACRO(macro_shiftable_sch,
    tap-ms = <10>;
    bindings = <&macro_tap &kp S
                &macro_release &kp RSHIFT
                &macro_tap &kp C &kp H>;
)

/* Combos */

#define COMBO(NAME, BINDINGS, KEYPOS) \
combo_##NAME { \
    timeout-ms = <20>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
};
#define SLOWCOMBO(NAME, BINDINGS, KEYPOS) \
combo_##NAME { \
    timeout-ms = <40>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
};
#define TCOMBO(NAME, BINDINGS, KEYPOS, TIMEOUT) \
combo_##NAME { \
    timeout-ms = <TIMEOUT>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
};

#define COMBOS_TOP_ROW(LTPR, LTRM, LTMI, RTIM, RTMR, RTRP) \
    SLOWCOMBO(_ltpr, LTPR, 0 1) \
    COMBO(_ltrm, LTRM, 1 2) \
    COMBO(_ltmi, LTMI, 2 3) \
    COMBO(_rtim, RTIM, 4 5) \
    COMBO(_rtmr, RTMR, 5 6) \
    SLOWCOMBO(_rtrp, RTRP, 6 7)
#define COMBOS_BOT_ROW(LBRM, LBMI, RBIM, RBMR) \
    COMBO(_lbrm, LBRM, 8 9) \
    COMBO(_lbmi, LBMI, 9 10) \
    COMBO(_rbim, RBIM, 11 12) \
    COMBO(_rbmr, RBMR, 12 13)

/ {
    combos {
        compatible = "zmk,combos";
/* alphas */
                     //  0+1    1+2    2+3    4+5      5+6      6+7
        COMBOS_TOP_ROW(&kp W, &kp M, &kp B, &kp V, &comsem, &dotcol)
               COMBOS_BOT_ROW(&kp F, &kp P, &kp X, &kp Z)
                            //  8+9   9+10  11+12  12+13

/* usually on base layer */
        COMBO(q, &kp Q, 8 10)
        COMBO(k, &kp K, 2 10)
        COMBO(j, &kp J, 5 11)
        COMBO(shiftablesch, &macro_shiftable_sch, 1 3)
        COMBO(enter, &kp ENTER, 11 13)
        COMBO(esc, &kp ESC, 0 3)
        COMBO(semi, &kp SEMICOLON, 12 16)
        COMBO(colon, &kp COLON, 13 16)
        COMBO(minus, &kp MINUS, 1 9)
        COMBO(slash, &kp SLASH, 6 12)
/* parentheticals */
        COMBO(lt, &kp LT, 1 10)
        COMBO(lbrc, &kp LBRC, 1 8)
        COMBO(lbkt, &kp LBKT, 2 9)
        COMBO(lpar, &kp LPAR, 3 10)
        COMBO(rt, &kp GT, 6 11)
        COMBO(rpar, &kp RPAR, 4 11)
        COMBO(rbkt, &kp RBKT, 5 12)
        COMBO(rbrc, &kp RBRC, 6 13)
/* caps */
        COMBO(caps, &caps_word, 3 4)
        COMBO(capslock, &kp CAPSLOCK, 1 6)
/* deletion */
        COMBO(bspc, &kp BSPC, 4 6)
        SLOWCOMBO(del, &kp DEL, 5 7)
        COMBO(delword, &kp LC(BSPC), 4 7)
    };
};

ZMK_LAYER(aptmak,
    &hl LCTRL R    &hl LALT S     &hl LGUI T     &hl LSHFT H        &hr RSHFT N    &hr RGUI A     &hr LALT I     &hr RCTRL O
                   &kp C          &kp G          &kp D              &kp L          &kp U          &kp Y
                                  &my_lt NUM SQT &my_lt NAV SPACE   &my_lt SYM E   &my_lt FUN TAB
)

ZMK_LAYER(numbers,
    &hl LCTRL PLUS &hl LALT MINUS &hl LGUI STAR  &hl LSHFT SLASH    &kp N4         &kp N5         &kp N6         &dotcol
                   &kp N9         &kp N8         &kp N7             &kp N1         &kp N2         &kp N3
                                  ___            ___                &kp E          &kp N0
)

ZMK_LAYER(navigation,
    &sk LCTRL      &sk LALT       &sk LGUI       &sk LSHFT          &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT
                   &kp C_AC_COPY  &kp C_AC_CUT   &kp C_AC_PASTE     &kp HOME       &kp C_MUTE     &kp END
                                  ___            ___                &kp C_VOL_DN   &kp C_VOL_UP
)

ZMK_LAYER(symbols,
    &kp EXCL       &kp AT         &kp HASH       &kp DOLLAR         &kp AMPERSAND  &kp ASTERISK   &kp PERCENT    &kp CARET
                   &kp GRAVE      &kp DQT        &kp UNDERSCORE     &kp BACKSLASH  &kp PIPE       &kp EQUAL
                                  &kp TILDE      ___                ___            ___
)

ZMK_LAYER(function,
    &bootloader    &kp F12        &kp F11        &kp F10            &kp F4         &kp F5         &kp F6         XXX
                   &kp F9         &kp F8         &kp F7             &kp F1         &kp F2         &kp F3
                                  ___            ___                ___            ___
)
