#define COMBO_TERM_FAST 20
#define COMBO_TERM_SLOW 40

#define COMBO_IDLE_FAST 120
#define COMBO_IDLE_SLOW 50

#define VERT_COMBOS(LAYER, LVR, LVM, LVI, RVI, RVM, RVR) \
	ZMK_COMBO(LAYER##_lvr, LVR, LM3 LB3, LAYER, COMBO_TERM_SLOW, COMBO_IDLE_SLOW) \
	ZMK_COMBO(LAYER##_lvm, LVM, LM2 LB2, LAYER, COMBO_TERM_SLOW, COMBO_IDLE_SLOW) \
	ZMK_COMBO(LAYER##_lvi, LVI, LM1 LB1, LAYER, COMBO_TERM_SLOW, COMBO_IDLE_SLOW) \
	ZMK_COMBO(LAYER##_rvr, RVR, RM3 RB3, LAYER, COMBO_TERM_SLOW, COMBO_IDLE_SLOW) \
	ZMK_COMBO(LAYER##_rvm, RVM, RM2 RB2, LAYER, COMBO_TERM_SLOW, COMBO_IDLE_SLOW) \
	ZMK_COMBO(LAYER##_rvi, RVI, RM1 RB1, LAYER, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

/* Horizontal combos - left hand */
ZMK_COMBO(capsword,     &caps_word,            LT3 LT2 LT1, DEF                   , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(q,            &kp Q,                 LT2 LT1,     DEF                   , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(v,            &kp V,                 LT3 LT2,     DEF                   , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

// Combos overlapping HRMs are set up as hold-taps themselves to allow for instantaneous
// chording of mods.
ZMK_COMBO(sqt,          &hl LC(LALT) SQT,      LM3 LM2,     DEF NAV SYM           , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(tab,          &hl LC(LALT) TAB,      LM2 LM1,     DEF NAV SYM           , COMBO_TERM_FAST, COMBO_IDLE_SLOW)
ZMK_COMBO(esc,          &hl LS(LALT) ESC,      LM3 LM1,     DEF NAV SYM           , COMBO_TERM_FAST, COMBO_IDLE_SLOW)

ZMK_COMBO(z,            &kp Z,                 LB2 LB1,     DEF                   , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(shift_l,      &sk LSHIFT,            LB3 LB2,     DEF NAV SYM           , COMBO_TERM_FAST, COMBO_IDLE_SLOW)
ZMK_COMBO(undo,         &kp LG(Z),             LB2 LB1,         NAV               , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(redo,         &kp LS(LG(Z)),         LB3 LB1,         NAV               , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

/* Horizontal combos - right hand */
ZMK_COMBO(capslock_r,   &kp CAPSLOCK,          RT3 RT2 RT1, DEF                   , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(enter_r,      &hr RC(RGUI) ENTER,    RM3 RM1,     DEF NAV SYM           , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(minus,        &hr RC(RALT) MINUS,    RM3 RM2,     DEF NAV SYM           , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bksp_r,       &hr RS(RCTL) BKSP,     RM2 RM1,     DEF NAV SYM           , COMBO_TERM_SLOW, COMBO_IDLE_FAST)

ZMK_COMBO(shift_r,      &sk RSHIFT,            RB3 RB2,     DEF NAV SYM           , COMBO_TERM_SLOW, COMBO_IDLE_FAST)

/* Diagonal combos */
ZMK_COMBO(backslash,    &kp BSLH,              LB3 LM2    , DEF NAV               , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(fslash,       &kp SLASH,                 RM2 RB3, DEF NAV               , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lt,           &kp LT,                LB3 LM2    ,                   SYM , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(gt,           &kp GT,                    RM2 RB3,                   SYM , COMBO_TERM_FAST, COMBO_IDLE_FAST)
