#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <zmk-helpers/helper.h> // Requires zmk-helpers module.

#define ALPHA 0
#define BETA 1
#define NAV 2
#define NUM 3
#define SYS 4
#define FUN 5

#define ___ &trans
#define XXX &none

/* Global defaults */

#define QUICK_TAP_MS 175

&sk {
  release-after-ms = <900>;
  quick-release;
};

&sl { // Allow sticky mods to chord across sticky layers.
  ignore-modifiers;
};

&lt {
  flavor = "balanced";
  tapping-term-ms = <200>;
  quick-tap-ms = <QUICK_TAP_MS>;
};

#define COMBO(NAME, BINDINGS, KEYPOS) \
combo_##NAME { \
    timeout-ms = <20>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
};
#define SLOWCOMBO(NAME, BINDINGS, KEYPOS) \
combo_##NAME { \
    timeout-ms = <40>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
};
#define TCOMBO(NAME, BINDINGS, KEYPOS, TIMEOUT) \
combo_##NAME { \
    timeout-ms = <TIMEOUT>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
};

#define COMBOS_TOP_ROW(LTPR, LTRM, LTMI, RTIM, RTMR, RTRP) \
	SLOWCOMBO(_ltpr, LTPR, LM4 LM3) \
	COMBO(_ltrm, LTRM, LM3 LM2) \
	COMBO(_ltmi, LTMI, LM2 LM1) \
	COMBO(_rtim, RTIM, RM1 RM2) \
	COMBO(_rtmr, RTMR, RM2 RM3) \
	SLOWCOMBO(_rtrp, RTRP, RM3 RM4)
#define COMBOS_BOT_ROW(LBRM, LBMI, RBIM, RBMR) \
	COMBO(_lbrm, LBRM, LB3 LB2) \
	COMBO(_lbmi, LBMI, LB2 LB1) \
	COMBO(_rbim, RBIM, RB1 RB2) \
	COMBO(_rbmr, RBMR, RB2 RB3)

/* Homerow mods */
#define KEYS_L LM1 LM2 LM3 LM4 LB1 LB2 LB3
#define KEYS_R RM1 RM2 RM3 RM4 RB1 RB2 RB3
#define THUMBS LH1 LH0 RH0 RH1

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS)                                 \
  ZMK_HOLD_TAP(NAME, bindings = <HOLD>, <TAP>; flavor = "balanced";            \
               tapping-term-ms = <230>; quick-tap-ms = <QUICK_TAP_MS>;         \
               require-prior-idle-ms = <150>; hold-trigger-on-release;         \
               hold-trigger-key-positions = <TRIGGER_POS>;)

MAKE_HRM(hl, &kp, &kp, KEYS_R THUMBS) // Left-hand HRMs.
MAKE_HRM(hr, &kp, &kp, KEYS_L THUMBS) // Right-hand HRMS.

#define LH(k1, k2, k3, k4) &hl LCTRL k1  &hl LALT k2  &hl LGUI k3  &hl LSHFT k4
#define RH(k1, k2, k3, k4) &hr RSHFT k1  &hr RGUI k2  &hr LALT k3  &hr RCTRL k4

//  _______________________  _______________________
// |  0  |  1  |  2  |  3  \/   4 |   5 |   6 |   7 |
//       \  8  |  9  | 10  /\  11 |  12 |  13 /
//             \ 14  | 15 /  \ 16 |  17 /
//              ----------    ----------


// Define mod-morph with a *single* mod trigger for less repetition.
#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2)                            \
  ZMK_MOD_MORPH(NAME, mods = <(MOD_L##MOD | MOD_R##MOD)>;                      \
                bindings = <BINDING1>, <BINDING2>;)

// Tap: comma | Shift + tap: semicolon
SIMPLE_MORPH(comma_morph, SFT, &kp COMMA, &kp SEMICOLON)
// Tap: period | Shift + tap: colon
SIMPLE_MORPH(dot_morph, SFT, &kp DOT, &kp COLON)

// Tap: parentheses | Shift + tap: angle bracket
SIMPLE_MORPH(lpar_morph, SFT, &kp LPAR, &kp LT)
SIMPLE_MORPH(rpar_morph, SFT, &kp RPAR, &kp GT)


/* Other small helpers */

MAKE_HRM(r_dot, &kp, &dot_morph, KEYS_L THUMBS)
// HACK: the HRM helper requires the second argument to be a &kp so this is a... workaround.

/{
    combos {
        compatible = "zmk,combos";
/* alphas */
                     //  LM4+LM3  LM3+LM2  LM2+LM1  RM1+RM2  RM2+RM3  RM3+RM4
        COMBOS_TOP_ROW(&kp W, &kp M, &kp B, &kp V, &trans, &trans)
               COMBOS_BOT_ROW(&kp F, &kp P, &kp X, &kp Z)
                      //  LB3+LB2  LB2+LB1  RB1+RB2  RB2+RB3

/* usually on base layer */
        COMBO(q, &kp Q, LB3 LB1)
        COMBO(k, &kp K, LM2 LB1)
        COMBO(j, &kp J, RM2 RB1)
        COMBO(enter, &kp ENTER, RB1 RB3)
        COMBO(esc, &kp ESC, LM4 LM1)
        COMBO(semi, &kp SEMICOLON, RB2 RH0)
        COMBO(colon, &kp COLON, RB3 RH0)
        COMBO(minus, &kp MINUS, LM3 LB2)
        COMBO(slash, &kp SLASH, RM3 RB2)
/* parentheticals */
        COMBO(lt, &kp LT, LM3 LB1)
        COMBO(lbrc, &kp LBRC, LM3 LB3)
        COMBO(lbkt, &kp LBKT, LM2 LB2)
        COMBO(lpar, &kp LPAR, LM1 LB1)
        COMBO(rt, &kp GT, RM3 RB1)
        COMBO(rpar, &kp RPAR, RM1 RB1)
        COMBO(rbkt, &kp RBKT, RM2 RB2)
        COMBO(rbrc, &kp RBRC, RM3 RB3)
/* caps */
        COMBO(caps, &caps_word, LM1 RM1)
        COMBO(capslock, &kp CAPSLOCK, LM3 RM3)
/* deletion */
        COMBO(bspc, &kp BSPC, RM1 RM3)
        SLOWCOMBO(del, &kp DEL, RM2 RM4)
        COMBO(delword, &kp LC(BSPC), RM1 RM4)
    };
};

/* Keymap layers */


ZMK_BASE_LAYER(alpha,
//╭─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────╮
LH(     N       ,     R       ,     T       ,     S      ), RH(     H       ,     A       ,     I       ,     E      ),
//╰─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────╯
                  &kp L         &kp D         &kp Y       ,     &kp M         &kp O         &kp U       ,
//              ╰─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╯
                                ___           &lt NAV SPACE,    &sl BETA      ___
//                            ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)

ZMK_BASE_LAYER(beta,
//╭─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────╮
LH(     P       ,     W       ,     B       ,     C      ),     &hr RSHIFT F  &hr RCTL Z   &r_dot RALT DOT &hr RGUI Z ,
//╰─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────╯
                  &kp X         &kp V         &kp G       ,     &kp K         &kp Q         &comma_morph,
//              ╰─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╯
                                ___           ___         ,     ___           ___
//                            ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)

ZMK_BASE_LAYER(navigation,
//╭─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────╮
   &sk LCTRL      &sk LALT      &sk LGUI      &sk LSHFT   ,     &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT   ,
//╰─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────╯
                  &kp C_AC_COPY &kp C_AC_CUT  &kp C_AC_PASTE,   &kp HOME      &kp C_MUTE    &kp END     ,
//              ╰─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╯
                                &trans        &trans      ,     &kp C_VOL_DN  &kp C_VOL_UP
//                            ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)

ZMK_BASE_LAYER(symbols,
//╭─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────╮
   &kp EXCL       &kp AT        &kp HASH      &kp DOLLAR  ,     &kp AMPERSAND &kp ASTERISK  &kp PERCENT   &kp CARET   ,
//╰─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────╯
                  &kp GRAVE     &kp DQT       &kp UNDERSCORE,   &kp BACKSLASH &kp PIPE      &kp EQUAL   ,
//              ╰─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╯
                                &kp TILDE     &trans      ,     &trans        &trans
//                            ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)

ZMK_BASE_LAYER(function,
//╭─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────╮
   &bootloader    &kp F12       &kp F11       &kp F10     ,     &kp F4        &kp F5        &kp F6        &none       ,
//╰─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────╯
                  &kp F9        &kp F8        &kp F7      ,     &kp F1        &kp F2        &kp F3      ,
//              ╰─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╯
                                &trans        &trans      ,     &trans        &trans
//                            ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)
